/* style.css */
.navigation {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: rgb(246, 241, 241);
    padding: 10px;
    margin-right: 7%;
   }
   .border{
     display: flex;
     position: fixed;
     bottom: 9%;
     width: 120%;
     height: 5px;
     right: 0.1%;
     background-color: rgb(235, 233, 233);
   }
   a{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .image-size {
    width: 40px;
  }
  .image-size1 {
    width: 50px;
  }
    
    