/* style.css */

.link-style {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  /* その他のスタイル */
}

   a{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
  .card{
    border: solid #FFAC4A;
    border-radius: 14px;
  }
  .top_row{
    font-size: 19px;
  }
  .title{
    margin-top: 9px;
  }
  .bottom_row{
    font-size: 11.5px;
  }