/* style.css */

.link-style {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  /* その他のスタイル */
}
.navigation {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 1%;
    width: 90%;
    background-color: red;
    padding: 10px;
    margin-left: 6%;
    margin-right: 4%;
   }
   .border{
     display: flex;
     position: fixed;
     bottom: 10%;
     width: 100%;
     height: 5px;
     background-color: rgb(235, 233, 233);
   }
   a{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .image-size {
    width: 40px;
  }
  .image-size1 {
    width: 50px;
  }
  .card{
    border: solid #FFAC4A;
    border-radius: 14px;
  }
  .top_row{
    font-size: 19px;
  }
  .title{
    margin-top: 9px;
  }
  .bottom_row{
    font-size: 11.5px;
  }