
.photo{
  text-align: center;
}



.p_photo{
  width: 150px;
  border-radius: 100px;
  text-align: center;
}
.edit{
  float: right;
  padding-right: 30px;


}


.name{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;

  margin: 0;


}
.name_id{
  display: flex;
  justify-content: center;
  align-items: center;
  color: dimgray;
  margin: 0;
}

.rank{
  display: flex;
  justify-content: center;
  align-items: center;
  color: saddlebrown;
  margin-bottom: 20px;
}
.trophy{
  margin-left: -25px;
}
#r_name{
  margin: 0;
}

.waku{
  display: flex;
  justify-content: center;
  align-items: center;

}
.frame{
  width: 95%; /* 幅を設定 */
  height: 140px;/* 高さを設定 */
  border: 2px solid #ffac4a; /* 枠線の太さと色を指定 */
  border-radius: 6px; /* 枠角の丸みを指定 */
}

.toukou{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 10px 20px;
}
.button {
  text-align: center;
  text-decoration: none;
  background-color: #ffac4a; /* ボタンの背景色 */
  color: #000000; /* ボタンのテキストカラー */
  font-size: 17px; /* ボタンのテキストサイズ */
  border: none;
  border-radius: 50px 50px 50px 50px; /* 左上と左下の角を10ピクセルの丸角にする */
  width: 180px; /* ボタンの幅 */
  height: 55px; /* ボタンの高さ */
  line-height: 50px; /* ボタンの中央にテキストを配置するための値 */
  box-shadow: 1px 1px 4px rgba(20, 1, 1, 1);/*ボタンの影を決める値*/
  transition: background-color 0.3s ease-in-out; /* ホバーエフェクトを設定 */
}

.button:hover {
  background-color: #0062cc; /* ホバーエフェクト時の背景色 */
  cursor: pointer; /* ホバーエフェクト時のカーソルスタイル */
}