/* ヘッダー */
header {
    position: sticky;
}
/* 画像スライダー */
.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.backBtn{
    background-color: #fff;
    border: none;
}
/* 詳細トグル ボタン*/
.navber-toggler:focus{
 box-shadow: none;
}