/* ヘッダー */
header {
    position: sticky;
}
/* 画像スライダー */
.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 戻るボタン */
.backBtn{
    background-color: #fff;
    border: none;
}
/* 詳細トグルボタン内容 */
.postInfo>p{
    margin-bottom: 8px;
}