@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
html {
  font-size: 62.5%;
}
/* 文字大きさ　場所 */
* {
  padding: 0;
  /* margin: 0; */
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  -webkit-tap-highlight-color: transparent;
}
/* 色 */
:root {
  --bg-default: #222327;
  --primary-white: #ffffff;
  --primary-red: #ff3c41;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  /* background: var(--bg-default); */
}
/* ナビゲーションバー */
.navigation {
  /* width: 360px; */
  /* height: 80px; */
  /* background: var(--bg-default); */
  /* position: relative; */
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
  /* border-radius: 10px; */
  padding: 0 20px;
}
/* ナビゲーションバー横並び */
.navigation .listWrap {
  /* list-style: none; */
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
}
/* ピクトグラムが赤丸の上表示 */
.navigation .listWrap li {
  width: 70px;
  /* height: 70px; */
  /* position: relative; */
  z-index: 1;
}
/* ナビゲーションバーテキスト表示 */
.navigation .listWrap li a {
  /* text-decoration: none; */
  /* position: relative; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  /* text-align: center; */
  /* font-weight: 500; */
  /* width: 100%; */
}
/* わからない */
/* .navigation .listWrap li a:hover {
  text-decoration: none;
} */
/* テキスト高さ */
.navigation .listWrap li a .icon {
  /* position: relative; */
  /* display: block; */
  line-height: 80px;
  /* text-align: center; */
  transition: 0.5s;
  /* color: var(--bg-default); */
}
/* わからない */
/* .navigation .listWrap li a .icon ion-icon {
  font-size: 2.2rem;
} */
/* ナビゲーションバーテキスト表示スピード　表示場所 */
.navigation .listWrap li a .text {
  position: absolute;
  /* color: var(--bg-default); */
  /* font-weight: 400; */
  /* letter-spacing: 0.05em; */
  transition: 0.5s;
  transform: translateY(20px);
  opacity: 0;
  /* z-index: 1; */
}
/* ピクトグラム場所 */
.navigation .listWrap li:active a .icon, .navigation .listWrap li.active a .icon {
  /* color: var(--primary-white); */
  transform: translateY(-32px);
}
/* ナビゲーションバーテキスト表示 */
.navigation .listWrap li:active a .text, .navigation .listWrap li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}
/* 赤丸 */
/* .navigation .listWrap li.indicator {
  position: absolute;
  width: 80px;
  height: 80px;
  top: -20%;
  border-radius: 50%;
  border: 6px solid var(--bg-default);
  background: var(--primary-red);
  transition: 0.3s;
  z-index: 0;
} */
/* クロの奴 */
/* .navigation .listWrap li.indicator:before, .navigation .listWrap li.indicator:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100px;
  height: 100px;
  background: blue;
  background: transparent;
} */
/* わからない */
.navigation .listWrap li.indicator:after {
  right: -22px;
  box-shadow: -1px -10px 0 0 var(--bg-default);
  border-top-left-radius: 20px;
}
/* わからない */
.navigation .listWrap li.indicator:before {
  left: -22px;
  box-shadow: 1px -10px 0 0 var(--bg-default);
  border-top-right-radius: 20px;
}
/* 赤丸動き */
/* .navigation .listWrap li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
} */
/* 赤丸動き */
/* .navigation .listWrap li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(600px * 1 + (6px * 2)));
} */
/* 赤丸動き */
/* .navigation .listWrap li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(600px * 2 + (6px * 4) + 1px));
} */
/* 赤丸動き */
/* .navigation .listWrap li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(600px * 3 + (6px * 6) + 2px));
} */
/* ナビゲーションバー場所 */
footer {
  position: fixed;
  bottom: 50px;
  left: 0;
  width: 100%;
  height: 100px; 
  /* background-color: black; */
  /* color: #fff; */
  text-align: center;
  padding-top: 20px;
}
/* .text{
  color: white
} */
ul {
  list-style: none;
  position: fixed;
  bottom: 0;
  /* width: 100%; */
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}